@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System.Linq
@using BLS.EmailSubscriptions.HangfireExtension.Data
@using Hangfire.Dashboard
@inherits RazorPage

<div class="col-12">

</div>